<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>News scrape</title>
  </head>
  <body>
    <div class="result_data">
      <h1>{{title}}</h1>
      <h2>{{link}}</h2>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
